<!-- This is a HTML document -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smile</title>
    <meta charset="utf-8">
    <style type="text/css">
      /** This is CSS, it is used for styling the page **/
      body {
        background-color: white;
        color: hotpink;
        font-size: 5em;
      }
    </style>
  </head>
  <body>
    <!-- {{emoji}} gets replaced by the ':)' that `app.py` sends it-->
    <strong>{{emoji}}</strong>
    <!-- Anything between {{ and }} is interpreted in this way -->
  </body>
</html>
