<!-- This is a HTML document -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login form</title>
    <meta charset="utf-8">
  </head>
  <body>
    
    <h1>Enter login details</h1>
    <form action="/login" method = "POST">
        
        <p>
            <label for="title">Username</label>
            <br>
            <input type="text" name="username" id="username">
        </p>
        <p>
            <label for="password">Password</label>
            <br>
            <input type="text" name="password" id="password" value="s3cretp4ss">
        </p>

        <p>
            <input type="Submit" value="Login">
        </p>
    </form>

  </body>
</html>
