<!doctype html>
<html>
  <head>
    <title>File Upload Test Harness</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
  </head>
  <body>
    <h1>File Upload - modern JS</h1>
    
    <form action="{{ url_for('upload_files') }}" class="dropzone">
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>





    
    <h1>File Upload - simple HTML</h1>

    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" multiple></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    <p>Previously uploaded files</p>
    {% for photo in file_listing %}
      <img src="{{ url_for('upload', filename=photo) }}" style="width: 64px">
    {% endfor %}

  </body>
</html>