#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #E0F7FA;
  min-height: 100vh;
  color-scheme: light dark;
}


.card {
  padding: 2em;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #ffffff;
  }
} */

/* xs - mobile */
@media (width < 600px) {

}
/* sm - tablet  */
@media (600px <= width < 900px) {

}

/* md expanded */
@media (900px <= width < 1200px) {

}

/* lg standard browser */
@media (1200px <= width < 1536px) {

}

/* xl Large browser */
@media (width > 1536px) {

}


